- if editor?
  #author-actions
    %a.product-create{href:"#"}
      %i.icon-plus.icon-white
      创建新产品
    %span.list-edit-remove
      %i.icon-edit
      = link_to "编辑列表信息", "#"
      %i.icon-remove
      = link_to "删除列表", "#"
