@font-face{
  font-family: 'lizard';
  src:url('lizard.ttf')
}

p {
  margin:0px;
}

body {
  font-family: "Hiragino Sans GB", Arial, sans-serif;
  font-size: 12px;
  text-align: center;
  margin: 0;
}

header {
  border-top: 5px black solid;
  padding-top: 20px;
  padding-bottom: 30px;
}

header > h1{
  font-size: 48px;
  font-weight:normal;
  letter-spacing:2px;
  margin-bottom: 0;
}

header > span{
  color: #999;
}

.plink{
  text-decoration:none;
  color:#F26522;
  font-weight:bold;
}

#tagline {
  background: url("blackbg.png");
  color: white;
  text-shadow: #000 2px 2px 2px;
}

#tagline p:first-child{
  font-size:30px;
  font-family: "Microsoft Yahei", "Hiragino Sans GB", Arial, sans-serif;
  letter-spacing:2px;
  padding-top:30px;
}

#tagline p:last-child{
  font-size:12px;
  padding-top:10px;
  padding-bottom:15px;
  margin-left:300px;
}

.content {
  width: 800px;
  margin: 0 auto;
  text-align: left;
  padding:60px 0;
  border-bottom: 1px solid #ddd;
}

.user >p{
  margin-top:16px;
  font-size:13px;
  width:660px;
  line-height:22px;
}

.profile span:first-child{
  font-size:14px;
}

.profile span:first-child a.plink{
  color:#09f;
}

.profile span:last-child{
  font-size:12px;
  margin-left:10px;
  color:#999;
  font-weight:bold;
}

.user {border-right: 1px dashed #999;}

.user > img {
  float: right;
  margin-right:20px;
  width: 80px;
  height: 80px;
  border-radius:8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
}

.products {
  margin:40px 0 0 0;
  list-style: none;
  padding:0;
}

.products:after {
  content: "";
  display: table;
  clear: both;
}

.products li {
  position: relative;
  float: left;
  margin:0 8px;
}

.products .image {
  width: 250px;
  height: 250px;
  margin-bottom: 10px;
  display: table-cell;
  vertical-align: middle;
}

.products .image img {
  max-width: 250px;
  max-height: 250px;
  vertical-align: middle;
}

.products .price {
  position: absolute;
  top: 0;
  left: 0;
  padding: 5px 10px;
  background: rgba(0, 0, 0, 0.8);
  color: white;
}

.products .name {
  text-align: left;
  padding: 10px 0 10px 20px;
  background: rgba(0, 0, 0, 0.8);
  color: white;
}


footer {
  margin:30px 0 120px;
}

footer > div {
  margin: 5px;
}

aside {
  position: fixed;
  bottom: 0;
  height: 100px;
  width: 100%;
  line-height: 100px;
  text-align: center;
  background: white;
  border-top: 1px solid #ccc;
  vertical-align: center;
}

aside input[type="text"] {
  border: 1px solid #ccc;
  color: #999;
  font-size: 13px;
  line-height: 25px;
  padding: 10px;
  width: 450px;
}

aside input[type="submit"] {
  margin-left: 2em;
  line-height: 25px;
  padding: 10px;
  font-size: 13px;
  background: #09F;
  background: -moz-linear-gradient(#66CCFF, #0099FF) repeat scroll 0 0 transparent;
  background: -webkit-linear-gradient(#66CCFF, #0099FF) repeat scroll 0 0 transparent;
  border: 1px solid #0099FF;
  border-radius: 3px 3px 3px 3px;
  color: #FFFFFF;
  cursor: pointer;
}

input[type="submit"]:hover {
  color: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25), 0 0 3px #FFFFFF inset;
}

input[type="submit"]:active {
  outline: none;
  box-shadow: 0 1px 2px #aaa inset;
}

input[type="submit"]::-moz-focus-inner {
  border: 0;
}

input[type="text"]:focus {
  outline: none;
  -webkit-appearance: none;
}
