%header
  .product_thumb
    = link_to image_tag("stubs/annapurna.jpg")
  %h1.product_title 
    安纳普尔纳徒步环游
  .price
    %span.sign ￥
    %span.amount 6000+  
%section
  %p.product_desc
    下次去尼泊尔绝对要全程徒步搭车。重走安纳普尔纳大环。村庄、溪河、森林。太美了。那里的雪山、蓝天只有你想不到，没有你看不到的。
%footer
  .buy
    %i.icon-shopping-cart
    = link_to "去凯撒国旅购买", "http://www.sanfo.com/hwyp/product/17286.html"
  .collect
    %i.icon-heart
    = link_to "收集", "#"
  .share  
    %i.icon-share
    = link_to "分享", "#"
