%header
  = link_to image_tag("stubs/lowa.jpg")
  %h1 Lowa 登山靴
%section
  %p 
    你还在为下雨没有防水的鞋烦恼吗？现在我就为你推荐一双既防水有透气的一款德国ＬＯＷＡ登山鞋，它采用戈尔特斯新型防水面料，二层牛皮／聚酯纤维的拼接，最主要的是上脚较轻而且特别的舒适。
%footer
  .price
    ￥1938  
  .buy  
    = link_to "购买", "http://www.sanfo.com/hwyp/product/17286.html"
  .share  
    = link_to "分享", "#", class: "btn"
