#ckepop
  %a{class:"jiathis_button_tsina"}
  %a{class:"jiathis_button_tqq"}
  %a{class:"jiathis_button_douban"}
  :javascript
    var jiathis_config={
      data_track_clickback:true,
      siteNum:4,
      sm:"tsina,douban",
      url:"http://meejian.com",
      summary:"",
      title:"觅见, 达人与尖货儿",
      pic:"http://meejian.com/assets/logo.png",
      hideMore:true
    }
  = javascript_include_tag "http://v3.jiathis.com/code_mini/jia.js?uid=1631357", charset: "utf-8"
