#success
  %div
    %span 注册成功！
    感谢您对我们的兴趣，如果方便的话，请您参加我们的
    = link_to "意见反馈", "http://meejian.wufoo.com/forms/eee/"
    ，或者直接和我们
    = link_to "联系", "#contact"
    ，再次感谢！
    -# %div#ckepop 
    -#   %a{href: "http://www.jiathis.com/share?uid=1631357", target: "_blank", class:"jiathis jiathis_txt"}
    -#     = image_tag "http://v3.jiathis.com/code_mini/images/btn/v1/jiathis1.gif"
    -#   :javascript      
    -#     var jiathis_config = {data_track_clickback:true};
    -#   = javascript_include_tag "http://v3.jiathis.com/code_mini/jia.js?uid=1334815522164414"
