// Customize default variables
$baseFontFamily: "Hiragino Sans GB", "Microsoft YaHei", Helvetica, sans-serif;
$baseFontSize: 14px;
$baseLineHeight: 22px;
$linkColor: #019CCE;
$headingsColor: $linkColor;
$headingsFontWeight: normal;
$btnPrimaryBackground: lighten($linkColor, 10%);

// Project specified variables
$headerBackgroundColor: #f3f3f3;
$headerBackgroundColorLight: #f9f9f9;
$taglineColor: darken($headerBackgroundColor, 30%);
$baseFontColor: #333;
$baseLightColor: lighten($baseFontColor, 30%);
$splitColor: $taglineColor;
$splitColorBold: $headerBackgroundColor;
$tinyFontSize: 12px;
$imageMediumWidth: 120px;
$masonryMargin: 10px;

@import "bootstrap";
@import "font-awesome";
@import "compass/css3";

$containerWidth: $gridColumns * ($gridColumnWidth + $gridGutterWidth) - $gridGutterWidth;

@mixin headerBackground {
  background: $headerBackgroundColor;
  @include background(
    linear-gradient($headerBackgroundColor, $headerBackgroundColorLight)
  );
}

ul, ol {
  list-style: none;
  margin: 0;
}

a {
  &:focus {outline: none;}
  &:hover {text-decoration: none;}
}

input {
  &:focus {outline: none !important;}
}

h1 {font-size: 32px;}
h2 {
  color: $baseFontColor;
  font-size: 26px;
}
h3 {font-size: 24px;}

form {
  legend {
    color: $headingsColor;
  }

  label {
    color: $baseLightColor;
  }
}

time {
  color: $baseLightColor;
  font-size: $tinyFontSize;
}

dt {
  font-weight: normal;
  color: $baseLightColor;
}

.btn-mini {
  text-shadow: none;
}

.add-on {
  margin-right: -1px;
}

.btn-success {
  width: 8em;
  margin: 10px 10px 12px;
  padding: 9px 12px 6px;
  text-align: center;
  color: white;
  font-weight: bold;

  i {
    padding-right: 1em;
    border-right: 1px solid white;
    margin-right: 1em;
  }

  background-color: #689F32;
  background-image: linear-gradient(#81C341, #689F32);
  background-repeat: repeat-x;
  border: 1px solid #689F32;
  border-radius: 2px;
  box-shadow: 1px 1px #9BCF68 inset, 0 2px 2px #4E7826;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.3);
  transition: all 500ms ease 0s;
}
