// Customize default variables 
$baseFontFamily: "Hiragino Sans GB", "Microsoft YaHei", Helvetica, sans-serif;
$baseFontSize: 14px;
$baseLineHeight: 22px;
$linkColor: #019CCE;
$headingsColor: $linkColor;
$headingsFontWeight: normal;
$btnPrimaryBackground: lighten($linkColor, 10%);
$btnSuccessBackground: #689F32;

// Project specified variables
$headerBackgroundColor: #eee;
$taglineColor: darken($headerBackgroundColor, 30%);
$baseFontColor: #333;
$baseLightColor: lighten($baseFontColor, 30%);
$splitColor: $taglineColor;
$splitColorBold: $headerBackgroundColor;
$tinyFontSize: 12px;

@import "bootstrap";
@import "font-awesome";
@import "compass/css3";

ul, ol {
  list-style: none; 
  margin: 0; 
}

a {
  &:focus {outline: none;}
  &:hover {text-decoration: none;}
}

input {
  &:focus {outline: none !important;} 
}

h1 {font-size: 32px;}
h2 {
  color: $baseFontColor;
  font-size: 26px;
}
h3 {font-size: 24px;}

form {
  legend {
    color: $headingsColor;
  }

  label {
    color: $baseLightColor;
  }
}

.btn-mini {
  text-shadow: none;
}

.add-on {
  margin-right: -1px;
}
