$linkColor: #09f;
$baseFontFamily: "Hiragino Sans GB", Arial, sans-serif;
$baseFontSize: 13px;
$baseLineHeight: 22px;

@import "bootstrap";
@import "compass/css3";

ul, ol {
  list-style: none; }

a {
  font-weight: bold;

  &:focus {outline: none;}
  &:visited {color: #09f;}

  &.plink {
    color: #f26522;
    font-weight: bold; }

  &.ulink {
    font-size: 14px; } }

input {
  &:focus {outline: none !important;} }


