article.comment {
  @include clearfix;
  border-top: 1px solid $splitColorBold;
  padding: 1em 0;

  > header {
    float: left;
    width: 8%;

    img {
      display: block;
      margin-bottom: 1em;
    }
  }

  > section {
    float: left;
    width: 85%;

    .comment_control {
      time {
        margin-left: 1em;
      }

      .comment_destroy {
        color: $baseLightColor;
        margin-left: 1em;
      }
    }


  }
}
