.interview_question {
  color: lighten($baseFontColor, 30%);
  background: $headerBackgroundColor;
  padding: 8px 0;
  font-size: 1.3em;
}

.interview_pair {
  p {margin: 1.5em 0;}
}

.interview_controls {
  text-align: right;
  > a {
    margin-right: 1em;
  }
}

.interview_answer_control {
  text-align: center;
}

.interview_time {
  color: $baseLightColor;
  font-size: $tinyFontSize;
  margin-bottom: 1em;
}

article.interview {
  @include clearfix;
  border-bottom: 1px solid $splitColor;
  padding-bottom: 1em;
  $headerWidth: 17%;

  &.with_user {
    margin-bottom: 2em;

    > header {
      float: left;
      width: $headerWidth;
    }

    > section {
      float: left;
      width: 100%-$headerWidth;

      p.user_name {
        font-size: $tinyFontSize;
        color: $baseLightColor;
        a {
          color: $baseLightColor;
          &:hover {color: $linkColor;}
        }
        margin: 0;
      }
    }
  }

  &.without_user {
    margin-bottom: 1em;

    > header {
      display: none;
    }

    > section {
      p.user_name {
        display: none;
      }
    }
  }

  a.interview_link {
    background: $linkColor;
    color: white;
    padding: 2px;
    font-size: $tinyFontSize;
  }
}

form.new_interview, form.edit_interview {
  textarea {width: 99%;}
  label {
    @extend .interview_question;
    margin-bottom: 1em;
  }

  .wysihtml5-toolbar {
    li {margin-right: 1em;}
  }

  .control-group {
    margin: 2em 0;
  }
}

#recommend_interviews {
  padding-bottom: 1em;
  border-bottom: 8px solid $splitColorBold;

  li {
    margin: 1em 0;

    article {
      @include clearfix;
      background: $headerBackgroundColor;
      padding: 10px;

      header {
        float: left;
        width: 31%;
        > a {
          float: left;
        }
        .user_summary {
          h4 {
            font-size: $baseFontSize;
            margin: .3em 0;
            color: $baseFontColor;
          }
          p {
            margin: 0;
            color: $baseLightColor;
          }
          float: left;
          width: 140px;
          margin: 0 10px;
        }
      }

      section {
        float: right;
        width: 69%;
      }
    }
  }
}

#not_recommend_interviews {
  li {
    float: left;
    margin: .5em .5em .5em 0;
  }
}
