@import 'base';

.interview_question {
  color: $baseFontColor;
}

article.interview {
  border-bottom: 1px solid $splitColor;
  padding-bottom: 1em;
  margin-bottom: 1em;
}

form.new_interview, form.edit_interview {
  textarea {width: 60%;}
}

#recommend_interviews {
  li {
    margin: 1em 0;
    .ref_products {
      margin-left: 10em;
    }
  }
}

#not_recommend_interviews {
  li {
    float: left;
    margin: 1em 1em 1em 0;
  }
}

.interview_controls {
  > a {
    margin-right: 1em;
  }
}
