.avatar_tiny {
  width: 25px;
  height: 25px;
}

#page_header {
  #main_nav {
    img {
      margin: 0 2em;
    }

    //ie8 bug: img(max-width=100%) need its container has width set
    .ie8 & .dropdown-toggle {
      width: 240px;
      text-align: right;
    }
  }

  #content_header {
    .container {position: relative;}
    background: $headerBackgroundColor;
    padding: 2em 0;
  }
}

.header_controls {
  vertical-align: 3px;
  .btn {margin: 0 .5em;}
}

#page_footer {
  @include clearfix();
  background: $headerBackgroundColor;
  margin-top: 2em;
  padding: 2em 0;

  nav {
    float: left;
    color: darken($headerBackgroundColor, 25%);
  }
  hgroup.slogan {
    position: relative;
    float: right;

    .logo {
      position: absolute;
      top: -60px;
      left: -80px;
    }
  }

  #contact {
    a {margin-right: 1em;}
  }
}

#content {
  margin-top: 2.5em;

  > header, > section, > footer {
    margin: 2.5em 0;
  }
}

hgroup.slogan {
  h1 {
    display: inline-block;
  }

  h2 {
    $fontColor: $taglineColor;
    display: inline-block;
    color: $fontColor;
    margin-left: 1em;
    line-height: 1em;
    border-left: 1px solid $fontColor;
    padding-left: 1em;
  }
}

hgroup.guest_slogan {
  @extend hgroup.slogan;
  text-align: center;
}
