.avatar_tiny {
  width: 25px;
  height: 25px;
}

#page_header {
  #main_nav {
    .hot_users {
      margin-right: 2em;
    }

    img {
      margin-right: 2em;
    }

    .signin_controls {
      margin-left: 4em;
      a {
        margin-right: 1em;
        margin-top: 7px;
        width: 30px;
      }
    }

    .messages_tip {
      a {
        padding: 0;
        margin-top: 10px;
        display: inline-block;
        width: 20px;
        line-height: 20px;
        background: #f66;
        font-size: 10px;
        text-align: center;
        color: white;
        @include border-radius(10px);
      }
    }

    //ie8 bug: img(max-width=100%) need its container has width set
    .ie8 & .dropdown-toggle {
      width: 240px;
      text-align: right;
    }
  }

  #content_header {
    .container {position: relative;}
    background: $headerBackgroundColor;
    padding: 1em 0;
  }
}

.header_controls {
  vertical-align: 3px;
  .btn {margin: 0 .5em;}
}

#page_footer {
  @include clearfix();
  background: $headerBackgroundColor;
  margin-top: 2em;
  padding: 2em 0;

  nav {
    float: left;
    color: darken($headerBackgroundColor, 25%);
  }
  hgroup.slogan {
    position: relative;
    float: right;

    .logo {
      position: absolute;
      top: -60px;
      left: -80px;
    }
  }

  #contact {
    a {margin-right: 1em;}
  }
}

#content {
  margin-top: 2.5em;

  > header, > section, > footer {
    margin: 2.5em 0;
  }
}

hgroup.slogan {
  h1 {
    display: inline-block;
  }

  h2, p {
    $fontColor: $taglineColor;
    display: inline-block;
    color: $fontColor;
    margin-left: 1em;
    line-height: 1em;
    border-left: 1px solid $fontColor;
    padding-left: 1em;
  }
}

hgroup.guest_slogan {
  @extend hgroup.slogan;
  text-align: center;
}
