@import "base";

.avatar_tiny {
  width: 25px;
  height: 25px;
}

#page_header {
  #main_nav {
    img { margin: 0 2em;}
  }

  #content_header {
    background: $headerBackgroundColor;
    padding: 2em 0;
    margin-bottom: 2em;
  }
}

#page_footer {
  @include clearfix();
  background: $headerBackgroundColor;
  margin-top: 2em;
  padding: 2em 0;

  nav {
    float: left;
    color: darken($headerBackgroundColor, 25%);
  }
  hgroup.slogan {
    float: right;
  }
}

hgroup.slogan {
  h1 {
    display: inline-block;
  }

  h2 {
    $fontColor: $taglineColor;
    display: inline-block;
    color: $fontColor;
    margin-left: 1em;
    line-height: 1em;
    border-left: 1px solid $fontColor;
    padding-left: 1em;
  }
}
