$borderStyle: 1px solid #eee;
$avatarSize: 80px;
$productSize: 300px;

.btn {
  text-shadow: none;
  font-weight: bold;
  border: none;
}

a {
  color: $blue;
  font-weight: normal;

  &:focus {outline: none;}
  &:hover {color: $blue;}
}

h1 {
  font-size: 20px;
  line-height: 1.4em;
}

.form-horizontal {
}

.list-title {
  font-size: 14px;
  margin-top: 10px;
  a {
    color: #666;
    &:hover {color: $blue;}
  }
  small {font-size: 12px;}
}

.product-thumb {
  img {
    width: $productSize;
    max-height: 150px;
  }
}

.product-title {
  color: #666;
}

.product-desc {
  color: #888;
}

.product-create {
  @extend .btn;
  @extend .btn-primary;
  @include buttonBackground($blue, darken($blue, 5%));
}

.list-edit-remove {
  padding-top: .5em;
}

.price {
  .sign {color: #666;}
  .amount {
    color: $green;
    margin-left: -.5em;
  }
}

.avatar {
  display: block;
  float: left;
  @extend .thumbnail;
  img {
    width: $avatarSize;
    height: $avatarSize;
  }
  margin-right: 1em;
}

.profile {
  .profile-name {
    display: block;
    font-size: 16px;
    color: #777;
    margin-bottom: .3em;
  }

  .profile-desc {
    color:#999;
  }
}

#lists {
  $columnWidth: $productSize;
  $gutterWidth: 30px;

  > * {float: left;}

  > header {
    width: $columnWidth;
    padding: 0 $gutterWidth;
    background: white;

    > * {margin: $gutterWidth 0;}

    #prelude {
      padding: 30px $gutterWidth/2;
      background: $blue;
      color: white;
      $triangleSize: 16px;
      $offsetSize: $avatarSize/2 - $triangleSize/2;
      @include triangle(bottom, $blue, $triangleSize, $triangleSize, $offsetSize);

      h1 {
        padding-bottom: 10px;
        font-size: 24px;
        small {
          color: white;
          font-size: 12px;
        }
      }
    }

    #author {
      @include clearfix;
      #author-actions {
        margin-bottom: $gutterWidth;
        .list-edit-remove {float: right;}
      }
    }

    #actions {
      position: relative;

      nav {
        $unactiveBackground: #eee;
        $activeBackground: #999;
        $unactiveWidth: $columnWidth/2;

        > * {
          display: block;
          background: $unactiveBackground;
          color: #777;
          padding: 10px;
          margin: 10px 0;
          width: $unactiveWidth;
          em {
            color: $blue;
            font-style: normal;
          }
          @include triangle(right, $unactiveBackground, 20px, 15px);
          @include transition(width .6s ease 0s);

          &:hover, &.active {
            background: $activeBackground;
            color: white;
            em {color: white;}
            @include triangle(right, $activeBackground, 21px, 15px);
          }

          &.active {width: $columnWidth*3/4;}
        }
      }

      .collapse {
        display: none;
        position: absolute;
        cursor: pointer;
        top: 0;
        right: -$gutterWidth*1.5;
        background: white;
        width: $gutterWidth;
        height: $gutterWidth;
        line-height: $gutterWidth;
        border: 3px solid #ccc;
        text-align: center;
        @include border-radius($gutterWidth);
      }
    }
  }

  > section {
    > * {float: left;}

    > article {
      width: $columnWidth;
      padding: 0 $gutterWidth;

      > * {margin: $gutterWidth 0;}

      > header {
        border-bottom: $borderStyle;
        padding-bottom: 10px;

        .product-thumb {
          img {
            max-width: $columnWidth;
            max-height: none;
          }
        }

        h1 {
          margin-top: $gutterWidth;
        }
      }

      > section {
        margin: $gutterWidth 0;
      }

      > footer {
        > * {
          float: left;
          text-align: right;
        }
        .buy {
          width: $columnWidth/2;
          text-align: left;
        }
        .collect {width: $columnWidth/4;}
        .share {width: $columnWidth/4;}
      }
    }

    > .divider {
      width: 0;
      border-right: $borderStyle;
    }
  }

  > aside {
    padding: $gutterWidth;
    width: $columnWidth;
    position: relative;
    @include transition(margin-left .6s ease 0s);

    &#lists-all {
      li {margin-bottom: $gutterWidth;}
    }
  }
}
