@import "base";

#login_header {
  text-align: center;
}

#login_form {
  float: right;
  background: $headerBackgroundColor;
  margin: 2em 0;
  padding: 2em;

  .control-group {
    margin: 1.5em 0;
  }

  input[type="text"], input[type="password"] {
    @extend .input-medium;
  }

  input[type="submit"] {
    margin-right: 3em;
  }
}
