#messages_head {
  small {padding-left: 1em;}
}

#messages {
  li {
    margin: 1em 0;

    p {
      padding-left: 8px;
      @extend .alert;
      @extend .alert-success;

      img { @extend .topic_image_small; }

      &.unread {
        @extend .alert-info;
      }
    }
  }
}
