#product_header {
  float: left;
  width: 75%;

  h1 {
    display: inline-block;
    margin-right: 1em;
  }
  small {
    color: $taglineColor;
    font-size: 1.2em;
  }
}

#products_wall {
  float: left;
  width: 65%;
  margin: 2em 0;
  li {
    float: left;
    margin: 0 1em 1em;
  }
}

.ref_product {
  margin: 1em 2em 1em 0;
}

#product_single {
  text-align: center;
}
