#product_header {
  float: left;
  width: 75%;

  h1 {
    display: inline-block;
    margin-right: 1em;
  }
  small {
    color: $taglineColor;
    font-size: 1.2em;
  }
}

#products_wall {
  float: left;
  width: 70%;
  li {
    float: left;
    margin: 0 .2em .4em;
  }
}

#product_single {
  text-align: center;
}
