.products_list {
  li {
    margin: 0 .2em;
    display: inline-block;
  }
}

.ref_products {
  @include clearfix;

  li {
    float: left;
    width: 50%;
    margin-bottom: 2em;

    > a {
      display: inline-block;
      float: left;
      width: 120px;
      margin-right: 1em;
    }

    .product_summary {
      float: left;
      width: 60%;

      h4 {
        font-size: 18px;
        margin: 0 0 .5em;
      }

      p {
        font-size: $tinyFontSize;
        color: $baseLightColor;
        margin: 0;
      }
    }
  }
}

#product_header {
  h1 {
    display: inline-block;
    margin-right: 1em;
  }

  p {
    margin: 0;

    .price {
      color: $taglineColor;
      font-size: 1.2em;
      margin-right: 1em;
    }
  }
}

#products_wall {
  float: left;
  width: 70%;
  @extend .products_list;
  li { margin-bottom: .4em; }
}


#product_single {
  text-align: center;

  .product_description {
    @include clearfix;
    text-align: left;
    background: $headerBackgroundColor;
    color: $baseLightColor;
    font-size: $tinyFontSize;
    margin: 2em 0;
    padding: 1em;

    > a {
      float: left;
      width: 5%;
      padding-top: 4px;
    }

    p {
      float: left;
      width: 95%;
      margin: 0;
    }
  }
}

#new_product_modal {
  margin-top: -400px;

  .modal-body {
    max-height: 600px;
  }
}

form.edit_product {
  textarea, input[type='url'] {width: 90%;}

  .progress {
    margin-top: 1em;
  }
}

#product_info {
  dt { width: 80px; }
  dd { margin-left: 100px; }
}
