#product_header {
  h1 {
    display: inline-block;
    margin-right: 1em;
  }

  p {
    .price {
      color: $taglineColor;
      font-size: 1.2em;
    }
  }
}

#products_wall {
  float: left;
  width: 70%;
  > a {margin-bottom: .4em;}
}

.products_list {
  > a {
    margin: 0 .2em;
    display: inline-block;
  }
}

#product_single {
  text-align: center;
}
