@import "base";
@import "compass/typography/lists";

@include font-face("Lizard",
                   font-files("fonts/lizard-webfont.woff", woff,
                              "fonts/lizard-webfont.ttf", truetype,
                              "fonts/lizard-webfont.svg", svg),
                   "fonts/lizard-webfont.eot");

#site {
  $contentWidth: 800px;
  min-width: $contentWidth;

  > header {
    h1 {
      padding: .8em 0 .7em;
      border-top: 5px black solid;
      font-family: "Lizard";
      font-weight: normal;
      font-size: 3.8em;
      letter-spacing: .05em;
      color: black;
      text-align: center;

      small {
        font-size: $baseFontSize;
        font-family: $baseFontFamily;
        font-weight: bold;
        letter-spacing: 0; } }

    nav {
      $story-height: 60px;
      height: $story-height;
      padding: 10px 0;
      margin: 0 auto;
      background: url("storybg.png");

      ul {
        @include inline-block-list;
        width: $contentWidth;
        margin: 0 auto;

        li {
          width: 23%;
          line-height: $story-height;
          margin-left: 1%;
          padding-left: 8%;
          font-size: 14px;
          font-weight: bold;
          @include text-shadow(2px 2px 2px white);
          @each $story in discover, collect, deal {
            &.#{$story} { background: url("story-#{$story}.png") no-repeat; } } } } } }

  > section {
    width: $contentWidth;
    margin: 0 auto;

    article {
      text-align: left;
      padding: 50px 0;
      border-bottom: 1px solid #ddd;

      header {
        border-right: 1px dashed #999;
        margin-bottom: 40px;

        > img {
          float: left;
          margin-right:20px;
          width: 80px;
          height: 80px;
          @include border-radius(8px); }

        .profile {
          span+span {
            margin-left:10px;
            color:#999;
            font-weight:bold; } }

        p {
          margin-top: 10px;
          margin-right: 4em; } }

      ul {
        @include inline-block-list;

        li {
          $imageSize: 250px;
          position: relative;
          margin:0 5px;
          font-size: 12px;
          line-height: 1.25em;

          .image {
            width: $imageSize;
            line-height: $imageSize;
            margin-bottom: 10px;
            vertical-align: middle;
            text-align: center;

            img {
              max-width: $imageSize;
              max-height: $imageSize; } }

          .name {
            text-align: left;
            padding: 10px 0 10px 20px;
            background: #333;
            @include background(rgba(0, 0, 0, 0.8));
            color: white; }

          .price {
            position: absolute;
            top: 0;
            right: 0;
            @extend .name;
            padding: 5px 10px; } } } } }

  > footer {
    text-align: center;
    margin:30px 0 120px;
    > * {margin: 5px;} }

  > aside#signup {
    $signupColor: #eceef4;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 30px 0;
    line-height: 40px;
    border-top: 1px solid #ccc;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    background: $signupColor;
    @include background(rgba($signupColor, 0.8));
    &:hover { background: $signupColor; }

    form {
      margin: 0;
      @extend .form-inline;

      label {
        margin-right: 2em;
        color: #666;
        font-size: 14px;
        font-weight: bold; }

      input[type="text"] {
        color: #999;
        padding: .5em;
        width: 250px; }

      input[type="submit"] {
        @extend .btn;
        @extend .btn-primary;
        margin-left: 2em;
        padding: .6em .8em; } }

    #success {
      color: #666;
      span { color: #f26522; }

      #ckepop {
        display: inline-block;
        vertical-align: -2px;
        width: 80px; } } }
}
