hgroup.jobs {
  h2 {
    color: $taglineColor;
  }

  ul, p {
    color: $baseLightColor;
  }

  p {
    margin-top: 1em;
  }
}

section.jobs {
  ol {
    list-style: decimal;
    li {
      margin-left: 1.5em;
    }
  }

  article {
    border-bottom: 1px solid $splitColor;
  }
}

#home_topics {
  ul.recommend_interviews {
    @include clearfix;
    margin: 1em 0;

    li {
      float: left;
      width: ($containerWidth - $masonryMargin)/2;
      margin-bottom: $masonryMargin;
      &:nth-child(odd) { margin-right: $masonryMargin; }
    }
  }
}

#home_carousel {
  img {
    width: $containerWidth;
    height: 400px;
  }
}

#home_avatar_tip {
  position: absolute;
  top: 0;
  right: 0;

  a {
    @extend .btn;
    @extend .btn-danger;
  }
}
