#topic_header {
  position: relative;

  h2 {
    color: $taglineColor;
    .controls {
      vertical-align: 3px;
      margin-left: 1em;
      .btn {margin: 0 .5em;}
    }
  }

  p {
    color: $baseLightColor;
  }

  .topic_category {
    position: absolute;
    top: .4em;
    right: 0;
    a {
      color: darken($headerBackgroundColor, 5%);
      &:hover {
        color: darken($headerBackgroundColor, 10%);
      }
    }
    font-size: 5em;
  }
}

hgroup.topic_title {
  > * { display: inline-block; }

  h4 {
    color: $taglineColor;
    margin-left: 1em;
    border-left: 1px solid $splitColor;
    padding-left: 1em;
  }

  figure {
    display: inline-block;
    margin: 0 1.5em ;
  }
}

.category {
  border-bottom: 1px solid $splitColor;
  margin-bottom: 2em;
  padding-bottom: 1em;

  .topic_title {
    h3 {margin: 0;}
  }
}
