#topic_header {
  h2 {
    color: $taglineColor;
    .controls {
      vertical-align: 3px;
      margin-left: 1em;
      .btn {margin: 0 .5em;}
    }
  }

  p {
    color: $baseLightColor;
  }
}

hgroup.topic_title {
  > * { display: inline-block; }

  h4 {
    color: $taglineColor;
    margin-left: 1em;
    border-left: 1px solid $splitColor;
    padding-left: 1em;
  }

  figure {
    display: inline-block;
    margin: 0 1.5em ;
  }
}
