@import 'base';

#user_details {
  @include clearfix;

  >a {
    float: left;
    display: block;
    width: 25%;
  }

  dl {
    float: left;
    display: block;
    width: 25%;
    font-size: 1.1em;
    margin-top: 1.2em;
    
    dt, dd {margin-bottom: .5em;}

    dt {
      font-weight: normal;
      color: $baseLightColor;
      width: 40px;
    }
    dd {
      margin-left: 50px;
    }
  }

  blockquote {
    float: right;
    width: 40%;
    margin-top: 1.2em;
    color: $baseLightColor;
    p {font-size: 1.4em;}
  }
}

#user_collects {
  @include clearfix;

  li {
    margin-top: 1em;
    float: left;
    a {margin-right: 1em;}
  }
}

#user_interviews {
  margin: 2em 0;
}
