#user_details {
  @include clearfix;

  >a {
    float: left;
    display: block;
    width: 25%;
  }

  dl {
    float: left;
    display: block;
    width: 25%;
    font-size: 1.1em;
    margin-top: 1.2em;

    dt, dd {margin-bottom: .5em;}

    dt {
      font-weight: normal;
      color: $baseLightColor;
      width: 40px;
    }
    dd {
      margin-left: 50px;
    }
  }

  blockquote {
    float: right;
    width: 40%;
    margin-top: 1.2em;
    color: $baseLightColor;
    p {font-size: 1.4em;}
  }
}

#user_collects {
  ul {
    @include clearfix;

    li {
      float: left;
      margin: 0 10px;
    }
  }

  &.carousel {
    .carousel-inner {
      width: 90%;
      left: 5%;
    }

    .carousel-control {
      top: 0;
      width: 4%;
      height: $imageMediumWidth;
      line-height: $imageMediumWidth;
      border: 0;
      margin: 0;
      font-size: 2em;
      font-weight: 600;
      @include border-radius(0);

      &.left {
        left: 0;
        right: auto;
      }
      &.right {
        left: auto;
        right: 0;
      }
    }
  }
}

#user_interviews {
  position: relative;
  margin: 2em 0;
}

#users_list {
  @include clearfix;
  li {
    @include clearfix;
    float: left;
    background: $headerBackgroundColor;
    padding: 10px;
    width: 30%;
    margin: 0 10px 10px 0;

    &:hover {
      background: darken($headerBackgroundColor, 80%);
      > a {
        .user_summary {
          h4, p {color: white;}
        }
      }
    }

    > a {
      img {
        float: left;
      }

      .user_summary {
        float: left;
        width: 50%;
        margin-left: 5%;

        h4 {
          font-size: $baseFontSize;
          margin: .3em 0;
          color: $baseFontColor;
        }
        p {
          margin: 0;
          color: $baseLightColor;
        }
      }
    }
  }
}

#users_header {
  p {
    color: $taglineColor;
  }
}
